<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'core/css/estilos.css' %}" type="text/css" rel="stylesheet">
    <title>
    {% block titulo %}
    
    {% endblock titulo %}
    </title>
</head>
<body>
    <header>
        <nav>
            <!-- comentario OL (lista ordenada) UL (lista sin orden) LI (indice de lista) -->            
            <img src="{% static 'core/img/logo.png' %}">
            <ol>
                <li>
                    <a href="{% url 'HOME' %}"> Home</a>
                </li>
                <li>
                    <a href="{% url 'GALE' %}"> Galeria</a>
                </li>
                <li>
                    <a href="{% url 'FORMU' %}"> Formulario</a>
                </li>
                <li>
                    <a href="{% url 'CARRITO' %}">Carrito de Compras</a>
                </li>
                <li>
                    <a href="{% url 'VACIARCARRITO' %}"> Vaciar Carrito </a>
                </li>
                <li>
                    <a href="{% url 'CERRAR_SESION' %}">Logout</a>
                </li>
            </ol>
            
        </nav>
        
    </header>
    <section>
        {% block contenido %}
        
        {% endblock contenido %}
    </section>  
</body>
</html>