    {% extends "core/base.html" %}

    {% block titulo %}
        Main Principal - Floreria Petalos
    {% endblock titulo %}

    {% load static %}    

    {% block contenido %}
        <div class="central">
            <div class="home">
                <img src="{% static 'core/img/logo.png' %}" >
                <h3>Regala cariño, regala sentimientos con Florería Pétalos</h3>
                <p>Somos una florería especializada en el reparto de flores a domicilio en Santiago con más de 10 años de experiencia. Realizamos envíos de todo tipo de flores como rosas, tulipanes, gerberas, lilium, girasoles, flores silvestres y mix florales. Contamos con diseños en floreros, ramos, cajas, canastos en mimbre y brindamos servicio dedecoración de iglesias y eventos. Consulta por nuestros productos</p>
                <h3> </h3>
                <p></p>
            </div>
            <img src="{% static 'core/img/fr.png' %}" width="70%" alt="foto logo">
            
        </div>
        <div class="cuadro">
            <h2>Información de contacto</h2>
            <p>Teléfono : 229827480 Celular : +56977051323 contacto@floreria.cl</p>
          
            
        </div>
        <div class="cuadro">
            <h2>Horarios de entrega</h2>
            <p>Lunes a Viernes de 9:00-19:00 hrs y Sáb entre las 10:00 y 17:00 hrs. 
                Domingos y festivos horario de entrega es entre las 10:00 y las 14:00 hrs con un costo adicional de $5000</p>
         
        </div>
        <div class="cuadro">
            <h2>Cómo Comprar</h2>
            <p>Llamar a nuestros teléfonos para tomar nota de su pedido. Pago vía transferencia electrónica o depósito a nuestra cuenta.</p>
         
        </div>
        <div class="cuadro">
            <h2>Cómo Comprar Opt 2</h2>
            <p>Compra a través de nuestro sitio web www.floreriapetalos.cl . Pago vìa WEBPAY.</p>
         
        </div>
        

    {% endblock contenido %}
       
